<div class="container">
    <div class="modal fade" id="addMember">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <strong>
                        <h4 class="modal-title" id="title"></h4>
                    </strong>
                </div>
                <form action="/joinChat" method="POST">
                    <div class="modal-body">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <input type="hidden">
                                <label>SID del canal</label>
                                <input type="text" class="form-control" name="chanel" id="chanel" required
                                    data-validation-required-message="" readonly>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Nickname</label>
                                <input type="text" class="form-control" placeholder="AKA" name="aka" id="aka" required
                                    data-validation-required-message="Ingrese su token.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary " data-toggle="modal">Unirme</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="aut">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <strong>
                        <h4 class="modal-title" id="title"></h4>
                    </strong>
                </div>
                <form action="/autenticate" method="POST">
                    <div class="modal-body">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>SID de autenticación</label>
                                <input type="text" class="form-control" placeholder="SID" name="sid" id="sid" required
                                    data-validation-required-message="Ingrese su sid">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary " data-toggle="modal">Autenticarme</a>
                    </div>
                    <input type="hidden" name="aka" id="aka" value="{{aka}}">
                    <input type="hidden" name="chanel" id="chanel" value="{{canal}}">
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"></div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <img src="comentarioMed.png" alt="">
            <h2>Hello amigo, aquí encontrarás los canales disponibles para unirte.
                Los canales son una herramienta con la que puedes difundir mensajes públicos a grandes audiencias.
            </h2>
        </div>
        <div class="col-md-7">
            <br>
            <br>
            <br><br>
            <br>
            <br>
            <center>
                <h1>Channels <img src="comentarioPeque.png" alt=""></h1>
            </center>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">SID del channel</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Unirme</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each canales}}
                    <tr id="{{this}}">
                        <td>{{this.sid}}</td>
                        <td>{{this.friendlyName}}</td>
                        <td>
                            <a onclick='return llenarInput("{{this.sid}}","{{this.friendlyName}}")' href="#"
                                class="botonl chanel"><span class="icon-add-user"> </span></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <input type="hidden" value="{{respuesta}}" id="x">
            <h3>{{negativo}}</h3>
            <script>
                var respuesta = document.getElementById("x");
                if(respuesta.value == 'true'){
                    $('#aut').modal();
                    document.getElementById("x").value = 'false';
                }
                function llenarInput(sid, name) {
                    window.parent.document.getElementById('title').innerText = 'Grupo \"' + name + '\"';
                    document.getElementById("chanel").value = sid;
                    $('#addMember').modal();
                }
            </script>
        </div>
    </div>
</div>