{{>nav}}
<div class="container p-4">
    <div class="modal fade" id="mostrarSID">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <strong>
                        <h4 class="modal-title" id="title">SID de autenticación</h4>
                    </strong>
                </div>
                <div class="modal-body">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <p><strong>{{user}} </strong>el SID <strong>"{{sid}}"</strong> es para autenticarte con el
                                mismo aka
                                cada vez que quieras entrar al chatroom con el mismo aka. Cópialo y guardalo para
                                mantener tu nombre.</p>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Entendido</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true" id="personas">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <strong>
                        <h4 class="modal-title" id="title">Miembros de <strong>"{{frName}}"</strong></h4>
                    </strong>
                </div>
                <div class="modal-body">
                    <div id="global">
                        <table class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">A.K.A</th>
                                    <th scope="col">Desde</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each miembros}}
                                <tr>
                                    <td>{{this.identity}}</td>
                                    <td>2016-03-24T21:05:50Z</td>

                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Ok</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">

        </div>
        <br>
    </div>
    <div class="row">
        <div class="col-md-6">
            <br><br>
            <center>
                <h2>Hola <strong>{{user}}</strong>. Bienvenido al canal</h2>
                <h4><strong>"{{frName}}"</strong></h4>
                <h4></h4>
            </center><br>
            <div id="global">
                <div id="mensajes">
                    {{#each lista_mensajes}}
                    <div id="output" class="texto">
                        <strong><label id="from">{{this.from}}:</label></strong>
                        {{this.body}}
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" id="sms" class="form-control" aria-label="Amount (to the nearest dollar)"
                    placeholder="Escribe algo">
                <div class="input-group-append">
                    <a onclick="x('{{user}}','{{canal}}');" href="#" id="btn" class="botonl chanelDas"><span
                            class="icon-paper-plane"></span></a>
                </div>
            </div>
            <a onclick="llamarInfo()" href="#" id="valor" class="">SID de autenticación</a><br>
            <a onclick="verPersonas()" href="#" id="valor" class="">Integrantes</a>
        </div>
        <div class="col-md-5">
            <div class="col-md-3">
                <img src="comentario.png" alt=""><br>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        //DOM elements
        let output = document.getElementById('mensajes');
        function x(usuario_added, canal) {
            var t = 0;
            let sms = document.getElementById('sms').value;
            const completed = (e) => {
                document.getElementById('sms').value = "";
            }
            const error = () => console.log(this.responseText);
            const ajaxRequest = new XMLHttpRequest();
            ajaxRequest.addEventListener("load", completed);
            ajaxRequest.addEventListener("error", error);
            ajaxRequest.open("POST", "http://localhost:3000/send-sms/" + canal + "/" + sms + "/" + usuario_added);
            ajaxRequest.send();

            socket.emit('chat', {
                men: sms,
                usu: usuario_added
            });
        }
        socket.on('chat', function (data) {
            console.log(data);
            output.innerHTML += `
                <div id="output" class="texto">
                    <strong>
                        <label id="from">${data.usu}:</label>
                    </strong>
                    ${data.men}
                </div>`
            return;
        })
    </script>
    <script>
        $('#mostrarSID').modal();
        var elemento = document.getElementById('mostrarSid');
        var valor = document.getElementById('valor');
        var oculto = false;
        function controller() {
            if (!oculto) {
                elemento.style.display = 'block';
                oculto = true;
            } else {
                elemento.style.display = 'none';
                oculto = false;
            }
        }
        function llamarInfo() {
            $('#mostrarSID').modal();
        }
        function verPersonas() {
            $('#personas').modal();
        }
    </script>
</div>